:root {
  --primary-color: #65462d;
  --secondary-color: #fefbd4;
  --primary-shadow: inset var(--secondary-color) 0px -1px 10px;
  --secondary-shadow: inset var(--primary-color) 0px -1px 10px;
  --animation: typing 3s steps(40, end), blink-caret 0.75s step-end 10;
}
@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 600px;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
h1,
p {
  color: white;
}
p {
  font-family: cursive;
  font-weight: 600;
  font-size: 24px;
  text-shadow: #fc0 0px 0px 10px, var(--primary-color) 1px 1px;
}
.typing-animation {
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: white solid;
  animation: var(--animation);
}
#envelope {
  margin-top: 200px;
  text-align: center;
  font-family: cursive;
  letter-spacing: 7px;
  max-width: 275px;
}
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.card-content-background {
  background-image: url("images/background-still.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#undraw-with-love {
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.3);
}
.button {
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px 10px 30px 10px;
  text-decoration: none;
  border: var(--primary-color) solid 1px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--primary-shadow);
  text-align: center;
  max-width: 160px;
  max-height: 45px;
}
.button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--secondary-shadow);
  transform: scale(1.175);
}
.email-link {
  color: var(--secondary-color);
}
#write-back {
  max-width: 230px;
}
