h1 {
  color: white;
  margin: 0 auto;
  margin-top: 250px;
  text-align: center;
  font-family: cursive;
  letter-spacing: 7px;
  overflow: hidden;
  white-space: nowrap;
  border-right: white solid;
  max-width: 275px;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end 10;
}
@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 600px;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#envelope {
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  width: 6rem;
  border: #65462d solid 1px;
  background-color: #65462d;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: antiquewhite;
  border-radius: 30px 10px 30px 10px;
  box-shadow: inset #fefbd4 0px -1px 10px;
}
#envelope:hover {
  background-color: #fefbd4;
  color: #65462d;
  box-shadow: inset #65462d 0px -1px 10px;
  transform: scale(1.175);
}
